<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{pageTitle}}</title>
	<!-- css -->
	<link href="./css/MIDIPlayer.css" rel="stylesheet" type="text/css" />
	<link href="./css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<!-- shim -->
	<script src="./lib/shim/Base64.js" type="text/javascript"></script>
	<script src="./lib/shim/Base64binary.js" type="text/javascript"></script>
	<script src="./lib/shim/WebAudioAPI.js" type="text/javascript"></script>
	<script src="./lib/shim/WebMIDIAPI.js" type="text/javascript"></script>
	<!-- jasmid package -->
	<script src="./lib/jasmid/stream.js" type="text/javascript"></script>
	<script src="./lib/jasmid/midifile.js" type="text/javascript"></script>
	<script src="./lib/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="./lib/midi/audioDetect.js" type="text/javascript"></script>
	<script src="./lib/midi/gm.js" type="text/javascript"></script>
	<script src="./lib/midi/loader.js" type="text/javascript"></script>
	<script src="./lib/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="./lib/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="./lib/midi/plugin.webmidi.js" type="text/javascript"></script>
	<script src="./lib/midi/player.js" type="text/javascript"></script>
	<script src="./lib/midi/synesthesia.js" type="text/javascript"></script>
	<script src="./lib/midi/tuna.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="./lib/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="./lib/util/dom_request_script.js" type="text/javascript"></script>
	<!-- jquery -->
	<script src="./lib/jquery.js" type="text/javascript"></script>
	<script src="./lib/jquery-ui.js" type="text/javascript"></script>
	<!-- includes -->
	<script src="./lib/util/timer.js" type="text/javascript"></script>
	<script src="./lib/util/colorspace.js" type="text/javascript"></script>
	<script src="./lib/util/event.js" type="text/javascript"></script>
	<script src="./lib/socket.io.2.0.1.js" type="text/javascript"></script>
	<!-- chorus -->
	<link href="/chorus/chorus.css" rel="stylesheet" type="text/css" />
	<script src="/chorus/chorus.js" type="text/javascript"></script>
</head>
<body>
